{{#each movieInfo}}
<div class = "movieDetailDiv" id = "movieDetailDiv"> 
    <div class="infoImgDiv">

    <img src="{{this.imagePath}}" class="movieInfoImg"></img>

    <span class="views" id= 'views'>    
    
    Vistas: <span class='viewsNumber' id="viewsNumber">{{this.views}}</span>
    <img src="/img/hearticonempty.png" class="heartEmpty-Full" id='heartEmpty-Full' onclick="checkUserStatusForLike()"></img> 
    <span class='likesNumber' id="likesNumber">{{this.likes}}</span>    
    
    </span>

    </div>
    <h1 class="movieTitle">{{this.name}}</h1>
    <h4 class="movieTitleEng">{{this.spanishname}}</h4>
    <ul class="movieInfoList1">
        <li>
            <span class = "year"> {{this.year}}</span>
            <span class = "movieLength"> {{this.movieLength}}</span>
            <span class = "resolution">{{this.resolution}}</span> 
            <span class = "bitrate"> {{this.bitrate}} kb/s</span>
        </li>
        <li><span>({{this.votes}} votos, promedio: {{this.average}} de 5)</span>
        </li>
    </ul>
    <div class="synopsisDiv">
    <p class="synopsis">{{this.synopsis}}</p>
    </div>
    <ul class="movieInfoList2">
        <li class="director"><strong>Director:</strong> {{this.director}}</li>
        <li class="genre"><strong>Género:</strong> {{this.genre}}</li>
        <li class="cast"><strong>Actores:</strong> {{this.cast}}</li>
    </ul>
</div>  
<div class="errorBoxForLike" id="errorBoxForLike">
    <strong>Error!</strong>
</div>

<div class = "playerdiv" id="playerdiv">

    {{#if this.exist}}

    <video class= "Player" id="Player" width="100%" height="100%" controls>

    <source
     src="{{this.moviepagepath}}{{this.name}}.{{this.filetype}}"
     type="video/{{this.filetype}}">
    <track
     src="{{this.moviePagePath}}{{this.name}}.vtt"
     label="Español" 
     kind="captions" 
     srclang="es">

    <button id="subtitles" type="button" data-state="subtitles">CC</button>

    </video> 

    {{else}}

    <video class= "Player" width="100%" height="100%" poster="/img/filenotfound.jpg"></video> 
    

    {{/if}}

</div>

{{/each}}





