{{#each movieInfo}}

<div class = "movieDetailDiv" id = "movieDetailDiv"> 
    <div class="infoImgDiv">
    <img src="{{this.imagePath}}" class="movieInfoImg"></img>
    <span class="views">Vistas: {{this.views}} <img src="/img/hearticonempty.png" class="heartEmpty-Full"></img> {{this.likes}}</span>
    </div>
    <h1 class = "movieTitle">{{this.name}}</h1>
    <h4 class = "movieTitleEng">{{this.spanishname}}</h4>
    <ul class= "movieInfoList1">
        <li>
            <span class = "year"> {{this.year}}</span>
            <span class = "movieLength"> {{this.movieLength}}</span>
            <span class = "resolution">{{this.resolution}}</span> 
            <span class = "bitrate"> {{this.bitrate}} kb/s</span>
        </li>
        <li><span>({{this.votes}} votos, promedio: {{this.average}} de 5)</span>
        </li>
    </ul>
    <div class="synopsisDiv">
    <p class="synopsis">{{this.synopsis}}</p>
    </div>
    <ul class="movieInfoList2">
        
        <li class="director"><strong>Director:</strong> {{this.director}}</li>
        <li class="genre"><strong>Género:</strong> {{this.genre}}</li>
        <li class="cast"><strong>Actores:</strong> {{this.cast}}</li>
    </ul>
</div>  
{{/each}}






